<%- include("../partials/layout-start.ejs") %>
<%- include("../partials/menu.ejs") %>

<h1>Profile Page</h1>

<ul>
    <li>User name: <%=user.username%></li>
    <li>information: <%=user.information%></li>
    <li>id: <%=user._id%></li>
</ul>

<%- include("../partials/layout-end.ejs") %>